# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.venv/
venv311/
env/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Model Weights / Large Files
# =========================
*.pt
*.pth
*.h5
*.ckpt
*.zip

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/